body {
    background-color: #3A4e62;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template: repeat(3, 20vmin) / repeat(3, 20vmin);
    position: relative;
    max-height: 1000px;
    max-width: 1000px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18vmin;
    font-family: 'Montserrat', sans-serif;
    /* no text highlight-selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.game-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.rt-border {
    border-right: 1vmin solid white;
}

.O {
    color: #cb8568;
}

.X {
    color: #8B98A3;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 72px;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    color: #cb8568;
    font-size: 22px;
    padding-bottom: 15px;
}

.top-border {
    border-top: 1vmin solid white;
}

.hoverable:hover {
    background-color: #aeb8bf33;
}

#new-game-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #cb8568;
    color: white;
    border: none;
    padding: 15px 32px;
    border-radius: 2px;
}

#new-game-button:hover {
    background-color: #b6775d;
}

#new-game-button:focus {
    outline: 0;
}

@-webkit-keyframes scaling {
    From {
        -webkit-transform: scale(1.0);
    }

    To {
        -webkit-transform: scale(1.25);
    }
}

.winner {
    -webkit-animation: scaling .5s infinite alternate;
}

@media all and (min-width: 736px) {
    #result {
        font-size: 45px;
        height: 40px;
    }
}

@media all and (max-width: 736px) {
    #result {
        font-size: 35px;
        height: 30px;
    }
}

@media all and (max-width: 480px) {
    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 16px;
    }

    #result {
        height: 30px;
        font-size: 25px;
    }
}
